.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #dedee4;
	opacity: 0.8;
	padding: 0px 5%;
	min-height: 90px;
	font-family: "Space Grotesk", sans-serif;
	border-bottom: 1px solid #000;
}

.header-content {
	color: #000;
	font-size: calc(30px + 2vmin);
}
.title {
	color: #000;
	font-size: calc(30px + 2vmin);
}
